ion-toolbar {
  position: absolute;
  --background: none;
}

ion-menu-button {
  color: var(--ion-color-primary);
}

ion-button {
  --background-hover: var(--ion-color-secondary);
}

.purchase-row {
  padding-top: 5em;
  background: var(--ion-color-light);
}

.purchaser-subtitle {
  opacity: 1;
}

.logo-bld {
  display: inline-block;
}

.my-video {
  width: 100%;
}

.purchaser-container {
  position: relative;
  width: 100%;
  background: var(--ion-color-light);
}

.purchaser-text-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
}

.purchaser-text-container strong {
  font-family: 'MuktaMahee Extra Light', Arial, Helvetica, sans-serif;
  // font-size: 3.5vh;
  font-size: 7vh;
  color: black;
	text-shadow: red 1px 1px 3px;
}

.purchaser-text-container p {
  font-family: 'MuktaMahee Extra Light', Arial, Helvetica, sans-serif;
  font-size: 3vh;
  // font-size: 2.5vh;
  color: #fff;
  margin: 0;
}

.purchaser-text-container a {
  text-decoration: none;
}

.slider-container {
  z-index: 1;
}

.purchaser-col {
  font-family: 'MuktaMahee Extra Light', Arial, Helvetica, sans-serif;
  background: var(--ion-color-secondary);
}

.purchaser-col h1{
  font-size: 3vh;
  color: var(--ion-color-light);
}

.purchaser-col h2 {
  font-size: 2vh;
  color: var(--ion-color-light);
}