ion-content {
  --background: none;
}

ion-toolbar {
  position: fixed;
  --background: transparent;
}

h1 {
  font-family: 'Snell Roundhand Black', cursive;
	font-size: 1.5em;
  font-weight: bold;
	color: black;
	text-shadow: var(--ion-color-light) 2px 2px 3px;
}

.home-logo {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -5%);
  text-align: center;
}

.title-cap{
  color: var(--ion-color-tertiary);
	text-shadow: var(--ion-color-light) 2px 2px 3px;
}

.purchase-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -10%);
  text-align: center;
  font-size: 6vw;
}

.purchaser-subtitle {
  opacity: 1;
}

.white-background {
  background-color: rgba(var(--ion-color-light-rgb), 0.9);
  border: 5px solid rgba(var(--ion-color-light-rgb), 0.5);
  border-radius: 10px;
}

