<ion-row class="ion-justify-content-center ion-margin-top white-background">
  <ion-col size="12" class="top-border">
    <ion-row>
      <ion-col size-xs="12" size-md="4" class="ion-align-self-center ion-text-center">
        <h2>CONTACT</h2>
      </ion-col>
      <ion-col size-xs="12" size-md="4" class="ion-align-self-center ion-text-center">
        <h2>Phone: <span (click)="callFK()">678-262-7662</span></h2>
      </ion-col>
      <ion-col size-xs="12" size-md="4" class="ion-align-self-center ion-text-center">
        <ion-button color="secondary" href=" " target="_blank">
          <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button color="secondary" href=" " target="_blank">
          <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-col>
  <ion-col class="ion-align-self-center ion-text-center ion-padding-top" 
  size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
    <div>
      <img style="width: 75%" src="../../../../assets/google-arial-view.jpg">
    </div>
  </ion-col>
  <ion-col class="ion-align-self-center ion-text-center" 
  size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
    <h2>Location</h2>
    <p>Foundation Kangals</p>
    <p>5309 Flakes Mill Road</p>
    <p>Ellenwood, GA 30294</p>
    <!-- <h2>Contact</h2>
    <p>Phone: <span (click)="callFK()">678-262-7662</span></p>
    <ion-button color="secondary" href=" " target="_blank">
      <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
    </ion-button>
    <ion-button color="dark" href=" " target="_blank">
      <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
    </ion-button> -->
  </ion-col>
  <ion-col class="ion-align-self-center ion-text-center" 
  size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
    <h2>Hours</h2>
    <h3>Monday - Friday</h3>
    <p>5:00 AM - 9:00 PM</p>
    <h3>Saturday</h3>
    <p>8:00 AM - 6:00 PM</p>
    <h3>Sunday</h3>
    <p>8:00 AM - 5:00 PM</p>
  </ion-col>
</ion-row>