<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row  class="ion-no-padding ion-no-margin">
      <ion-col size="12" class="ion-no-padding ion-no-margin">
        <ion-toolbar>
          <ion-buttons slot="end" class="ion-padding-end">
            <ion-menu-button color="secondary"></ion-menu-button>
          </ion-buttons>
          <!-- <img class="ion-padding" (click)="goHome()"
            src="../../assets/logos/FKlogo-full-small50px.png">  -->
        </ion-toolbar>
        <div class="home-logo">
          <img class="ion-padding" (click)="goHome()"
            src="../../assets/logos/FKlogo-full-350px.png"> 
        </div>
        <div class="about-title">
          <h1 #aboutTitle><span class="title-cap">A</span>bout 
            <span class="title-cap">K</span>angals</h1>
        </div>
        <img src="../../assets/cujo/cujo-sunset.jpg">
      </ion-col>
    </ion-row>
    <ion-row class="no-background">
      <ion-col class="ion-no-margin ion-padding about-col">
        <ion-row class="no-background">
          <ion-col size-xl="6" offset-xl="3" class="no-background">
            <ion-list class="info-list">
              <ion-item button detail="false" (click)="goToBreed()"
              class="ion-margin info-item" lines="none">
                <h2>About the Breed</h2>
                <ion-thumbnail slot="end">
                  <img src="../../assets/logos/paw-print.png">
                </ion-thumbnail>
              </ion-item>
              <ion-item button detail="false" (click)="testClick()"
              class="ion-margin info-item" lines="none">
                <h2>What is Required to Own a Kangal</h2>
                <ion-thumbnail slot="end">
                  <img src="../../assets/logos/paw-print.png">
                </ion-thumbnail>
              </ion-item>
              <ion-item button detail="false" (click)="goToPhotos()"
              class="ion-margin info-item" lines="none">
                <h2>Photos</h2>
                <ion-thumbnail slot="end">
                  <img src="../../assets/logos/paw-print.png">
                </ion-thumbnail>
              </ion-item>
              <ion-item button detail="false" (click)="testClick()"
              class="ion-margin info-item" lines="none">
                <h2>Videos</h2>
                <ion-thumbnail slot="end">
                  <img src="../../assets/logos/paw-print.png">
                </ion-thumbnail>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
