ion-content {
  --background: none;
}

ion-toolbar {
  position: fixed;
  --background: transparent;
}

ion-menu-button {
  --border-radius: 5px;
  --color: var(--ion-color-light);
  --background: var(--ion-color-primary);
	--color-hover: var(--ion-color-secondary);
	--background-hover: var(--ion-color-tertiary);
}

ion-button {
  --background-hover: var(--ion-color-secondary);
}

h1 {
  font-family: 'Snell Roundhand Black', cursive;
	font-size: 1.5em;
  font-weight: bold;
	color: black;
	text-shadow: var(--ion-color-light) 2px 2px 3px;
}

.home-logo {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -5%);
  text-align: center;
}

.title-cap{
  color: var(--ion-color-tertiary);
	text-shadow: var(--ion-color-light) 2px 2px 3px;
}

.about-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -10%);
  font-size: 6vw;
  text-align: center;
}

.about-subtitle {
  opacity: 1;
}

.slider-container {
  z-index: 1;
}

.no-background {
  background: none;
}

.about-col {
  background: none;
}

.about-col h1{
  font-size: 3vh;
  color: var(--ion-color-primary);
}

.about-col h2 {
  font-family: 'Snell Roundhand Black', cursive;
	font-size: 5vh;
  font-weight: bold;
	color: black;
	text-shadow: var(--ion-color-tertiary) 1px 1px 1px;
}

.info-list {
  background: rgba(var(--ion-color-light-rgb), 0.5);
}

.info-item {
  --background: url('../../assets/background/gray-brick.jpg');
  background-repeat: repeat;
}

.white-background {
	background-color: white;
	color: var(--ion-color-primary);
}

.dark-shadow-background {
	background-color: rgba(var(--ion-color-dark-rgb), .4);
}

.brick-background {
  width: 100%;
	background-image: url('../../assets/background/gray-brick.jpg');
  background-repeat: repeat;

}
