<ion-header>
  <ion-toolbar>
    <img (click)="goHome()" src="../../assets/logos/FKlogo-full-small.png">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="about-row">
      <ion-col size="12" class="ion-no-padding">
        <div class="about-container">
          <div class="about-text-container">
            <ion-row>
              <ion-col class="ion-text-center">
                <p #aboutTitle class="about-title"><strong>About Kangals</strong></p>
              </ion-col>
            </ion-row>
          </div>
          <div class="slider-container">
            <img src="../../assets/AtlantaMidtownPT2.jpg">
          </div>
        </div>   
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-margin ion-padding about-col">
        <ion-row>
          <ion-col size-xl="6" offset-xl="3">
            <ion-list class="info-list">
              <ion-item 
              class="ion-margin info-item" lines="none">
                <h2>About the Breed</h2>
                <ion-button fill="outline" slot="end">See Info</ion-button>
              </ion-item>
              <ion-item  
              class="ion-margin info-item" lines="none">
                <h2>What is Required to Own a Kangal</h2>
                <ion-button fill="outline" slot="end">See Info</ion-button>
              </ion-item>
              <ion-item 
              class="ion-margin info-item" lines="none">
                <h2>Photos</h2>
                <ion-button fill="outline" slot="end">See Info</ion-button>
              </ion-item>
              <ion-item 
              class="ion-margin info-item" lines="none">
                <h2>Videos</h2>
                <ion-button fill="outline" slot="end">See Info</ion-button>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
