<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row  class="ion-no-padding ion-no-margin">
      <ion-col size="12" class="ion-no-padding ion-no-margin">
        <ion-toolbar>
          <ion-buttons slot="end" class="ion-padding-end">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <!-- <img class="ion-padding" (click)="goHome()"
            src="../../../assets/logos/FKlogo-full-small50px.png">  -->
        </ion-toolbar>
        <div class="home-logo">
          <img class="ion-padding" (click)="goHome()"
            src="../../assets/logos/FKlogo-full-350px.png"> 
        </div>
        <div class="photos-title">
          <h1 #photosTitle><span class="title-cap">P</span>hotos</h1>
        </div>
        <img src="../../../assets/background/sunset.jpg">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="white-background ion-text-center ion-margin">
        <p class="photos-subtitle">Swipe to see all pictures in each album. Tap on a picture to zoom in.</p>
      </ion-col>
    </ion-row>
    <!-- Start Row of Picture Albums -->
    <ion-row class="ion-align-items-center"> 
      <!-- Cujo Pics -->
      <ion-col sizeXs="12" sizeLg="6" sizeXl="4" class="ion-padding">
        <ion-row class="ion-no-padding">
          <ion-col size="12" class="ion-text-center white-background">
            <h2>Cujo</h2>
          </ion-col>
        </ion-row>
        <ion-row (mouseover)="showCujoNav = true" (mouseleave)="showCujoNav = false"
        (touchstart)="showCujoNav = true" class="brick-background">
          <ion-col size="2" class="ion-align-self-center ion-text-center">
            <div *ngIf="showCujoNav" (click)="toPrevSlide(cujoSlider)" 
            (touchstart)="toPrevSlide(cujoSlider)" (touchend)="showCujoNav = true">
              <ion-icon size="large" slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="8">
            <ion-slides [options]="sliderOpts" scrollbar="true" #cujoPics>
              <ion-slide *ngFor="let cujo of cujoImgs" class="ion-align-self-center" style="display:block;">
                  <img style="height: 40vh;" src="{{ cujo.url }}" tappable (click)="openPreview(cujo)">
                  <p class="image-title">
                    {{ cujo.title }}
                  </p>
              </ion-slide>
            </ion-slides>
          </ion-col>
          <ion-col size="2" class="ion-align-self-center ion-text-center">
            <div *ngIf="showCujoNav" (click)="toNextSlide(cujoSlider)" 
            (touchstart)="toNextSlide(cujoSlider)" (touchend)="showCujoNav = true">
              <ion-icon size="large" slot="icon-only" name="arrow-forward-circle-outline"></ion-icon>
            </div>
          </ion-col>
        </ion-row> 
      </ion-col>
      <!-- Kevi Pics -->
      <ion-col sizeXs="12" sizeLg="6" sizeXl="4" class="ion-padding">
        <ion-row>
          <ion-col size="12" class="ion-text-center white-background">
            <h2>Astra</h2>
          </ion-col>
        </ion-row>
        <ion-row (mouseover)="showKeviNav = true" (mouseleave)="showKeviNav = false"
        (touchstart)="showKeviNav = true" class="brick-background">
          <ion-col size="2" class="ion-align-self-center ion-text-center">
            <div *ngIf="showKeviNav" (click)="toPrevSlide(keviSlider)" 
            (touchstart)="toPrevSlide(keviSlider)" (touchend)="showKeviNav = true">
              <ion-icon size="large" slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="8">
            <ion-slides [options]="sliderOpts" scrollbar="true" #keviPics>
              <ion-slide *ngFor="let kevi of keviImgs" class="ion-align-self-center" style="display:block;">
                <img style="height: 40vh;" src="{{ kevi.url }}" tappable (click)="openPreview(kevi)">
                <p class="image-title">
                  {{ kevi.title }}
                </p>
              </ion-slide>
            </ion-slides>
          </ion-col>
          <ion-col size="2" class="ion-align-self-center ion-text-center">
            <div *ngIf="showKeviNav" (click)="toNextSlide(keviSlider)" 
            (touchstart)="toNextSlide(keviSlider)" (touchend)="showKeviNav = true">
              <ion-icon size="large" slot="icon-only" name="arrow-forward-circle-outline"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- LitterA Pics -->
      <ion-col sizeXs="12" sizeLg="6" sizeXl="4" class="ion-padding">
        <ion-row class="ion-no-padding">
          <ion-col size="12" class="ion-text-center white-background">
            <h2>Litter A</h2>
          </ion-col>
        </ion-row>
        <ion-row (mouseover)="showLitterANav = true" (mouseleave)="showLitterANav = false"
        (touchstart)="showLitterANav = true" class="brick-background">
          <ion-col size="2" class="ion-align-self-center ion-text-center">
            <div *ngIf="showLitterANav" (click)="toPrevSlide(litterASlider)" 
            (touchstart)="toPrevSlide(litterASlider)" (touchend)="showLitterANav = true">
              <ion-icon size="large" slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="8">
            <ion-slides [options]="sliderOpts" scrollbar="true" #litterAPics>
              <ion-slide *ngFor="let litterA of litterAImgs" class="ion-align-self-center" style="display:block;">
                  <img style="height: 40vh;" src="{{ litterA.url }}" tappable (click)="openPreview(litterA)">
                  <p class="image-title">
                    {{ litterA.title }}
                  </p>
              </ion-slide>
            </ion-slides>
          </ion-col>
          <ion-col size="2" class="ion-align-self-center ion-text-center">
            <div *ngIf="showLitterANav" (click)="toNextSlide(litterASlider)" 
            (touchstart)="toNextSlide(litterASlider)" (touchend)="showLitterANav = true">
              <ion-icon size="large" slot="icon-only" name="arrow-forward-circle-outline"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- End Row of Picture Albums -->
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToAboutKangals()" color="primary">
      <ion-icon name="arrow-back-circle" color="light"></ion-icon>
    
    </ion-fab-button>
  </ion-fab>
</ion-content>
