ion-content {
  --background: none;
}

ion-toolbar {
  position: fixed;
  --background: transparent;
}

ion-menu-button {
  --border-radius: 5px;
  --color: var(--ion-color-light);
  --background: var(--ion-color-primary);
	--color-hover: var(--ion-color-secondary);
	--background-hover: var(--ion-color-tertiary);
}

ion-button {
  --background-hover: var(--ion-color-secondary);
}

ion-slides {
  --scroll-bar-background: var(--ion-color-light);
  margin: 5px 5px 5px 5px;
  background: none;
  img {
    padding: 20px 0px;
  }
  p {
    color: var(--ion-color-light);
  }
}

h1 {
  font-family: 'Snell Roundhand Black', cursive;
	font-size: 1.5em;
  font-weight: bold;
	color: black;
	text-shadow: var(--ion-color-light) 2px 2px 3px;
}

h2 {
  font-family: 'Snell Roundhand Black', cursive;
	font-size: 2.5em;
  font-weight: bold;
	color: black;
	text-shadow: red 2px 2px 5px; 
}

.home-logo {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -5%);
  text-align: center;
}

.title-cap{
  color: var(--ion-color-tertiary);
	text-shadow: var(--ion-color-light) 2px 2px 3px;
}

.photos-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -10%);
  text-align: center;
  font-size: 6vw;
}

.photos-subtitle {
  font-size: 1.5em;
  font-weight: bold;
}

/**** BACKGROUNDS *****/

.wood-background {
	background-image:url('../../../assets/frame2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
	color: var(--ion-color-light);
}

.white-background {
	background-color: white;
	color: var(--ion-color-primary);
}

.no-background {
  background: none;
}
