<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row  class="ion-no-padding ion-no-margin">
      <ion-col size="12" class="ion-no-padding ion-no-margin">
        <ion-toolbar>
          <ion-buttons slot="end" class="ion-padding-end">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <!-- <img class="ion-padding" (click)="goHome()"
            src="../../../assets/logos/FKlogo-full-small50px.png">  -->
        </ion-toolbar>
        <div class="home-logo">
          <img class="ion-padding" (click)="goHome()"
            src="../../assets/logos/FKlogo-full-350px.png"> 
        </div>
        <div class="photos-title">
          <h1 #photosTitle><span class="title-cap">P</span>hotos</h1>
        </div>
        <img src="../../../assets/background/sunset.jpg">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="white-background ion-text-center ion-margin">
        <p *ngIf="currentUser">{{currentUser.displayName}}</p>
        <p class="photos-subtitle">Click an album and swipe to view pictures<br>
          Tap on a picture to zoom in.</p>
      </ion-col>
    </ion-row>
    <!-- Picture Albums -->
    <ion-row>
      <ion-col size-xs="12" size-md="8" offset-md="2" class="ion-padding">
        <ion-row class="ion-no-padding">
          <ion-col size="12" class="ion-text-center white-background">
            <h2>{{ currentAlbum }}</h2>
          </ion-col>
        </ion-row>
        <ion-row (mouseover)="showPicNav = true" (mouseleave)="showPicNav = false"
          (touchstart)="showPicNav = true" class="gold-background">
          <ion-col size="2" class="ion-align-self-center ion-text-center">
            <div *ngIf="showPicNav" (click)="toPrevSlide(picSlider)" 
            (touchstart)="toPrevSlide(picSlider)" (touchend)="showPicNav = true">
              <ion-icon size="large" slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="8">
            <ion-slides [options]="sliderOpts" scrollbar="true" #fkPics>
              <ion-slide *ngFor="let photo of photos" class="ion-align-self-center" style="display:block;">
                  <img style="height: 40vh;" src="{{ photo.imageUrl }}" tappable (click)="openPreview(photo)">
                  <p class="image-title">
                    {{ photo.title }}
                  </p>
              </ion-slide>
            </ion-slides>
          </ion-col>
          <ion-col size="2" class="ion-align-self-center ion-text-center">
            <div *ngIf="showPicNav" (click)="toNextSlide(picSlider)" 
            (touchstart)="toNextSlide(picSlider)" (touchend)="showPicNav = true">
              <ion-icon size="large" slot="icon-only" name="arrow-forward-circle-outline"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- Choose Albums or All Pictures -->
    <ion-row>
      <ion-col>
        <div style="text-align: center;">
          <ion-button (click)="showAllPhotos()">All Photos</ion-button>
          <ion-button *ngFor="let album of albums" (click)="chooseAlbum(album)">
            {{ album.title }}</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <!--- Begin: Admin Only - Add more pictures -->
    <ion-row *ngIf="currentUser && currentUser.email === 'jeff.quigley@wiifmconsulting.com'">
      <ion-col>

        <ion-button (click)="openAlbumModal()" expand="block">
          <ion-icon name="folder" slot="start"></ion-icon>
          Create a new album
        </ion-button>
        <ion-button (click)="openUploadPhotoModal()" expand="block">
          <ion-icon name="camera" slot="start"></ion-icon>
          Add a new photo
        </ion-button>

      </ion-col>
    </ion-row>
    <!--- End: Admin Only - Add more pictures -->
    <app-footer></app-footer>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToAboutKangals()" color="primary">
      <ion-icon name="arrow-back-circle" color="light"></ion-icon>
    
    </ion-fab-button>
  </ion-fab>
</ion-content>
