<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row  class="ion-no-padding ion-no-margin">
      <ion-col size="12" class="ion-no-padding ion-no-margin">
        <ion-toolbar>
          <ion-buttons slot="end" class="ion-padding-end">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <!-- <img class="ion-padding" (click)="goHome()"
            src="../../../assets/logos/FKlogo-full-small50px.png">  -->
        </ion-toolbar>
        <div class="home-logo">
          <img class="ion-padding" (click)="goHome()"
            src="../../assets/logos/FKlogo-full-350px.png"> 
        </div>
        <div class="requirement-title">
          <h1 #requirementTitle><span class="title-cap">R</span>equirement to 
            <span class="title-cap">O</span>wn</h1>
        </div>
        <img src="../../../assets/requirement-page-Cujo-Liv-blackoutfit.jpg">
      </ion-col>
    </ion-row>
    <!-- BEGINNING OF REQUIREMENT TO OWN -->
    <ion-row class="ion-padding">
      <ion-col size="12">
        <ion-row class="white-trnsp-background">
          <ion-col size-xs="12" size-sm="12" size-md="6" class="ion-align-self-center ion-padding">
            <h2 class="ion-text-center">1+ Acre of Land</h2>
            <p>Kangal need plenty of space.</p>
            <h2 class="ion-text-center">Daily Interaction</h2>
            <p>You must spend quailty time with your Kangal daily, including training</p>
            <h2 class="ion-text-center">Proper Diet</h2>
            <p>
              I feed my Kangal the Hi-Pro plus. Adults should be given boiled fresh bones 
              (not too hard) 3 times a week. Find a nearby butcher. Don’t worry, this doesn't make 
              Kangal game; they are wild dogs and it is great for development.
            </p>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="6" class="ion-align-self-center">
            <img style="display: block; margin: auto; width: 50%;"
              src="../../assets/cujo/cujo-walking-with-marisa.jpg">
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- END OF REQUIREMENT TO OWN -->
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToAboutKangals()" color="primary">
      <ion-icon name="arrow-back-circle" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>   
