<ion-content [fullscreen]="true" [scrollEvents]="enableScroll"
(ionScrollStart)="logoFullAnim.play()">
  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding ion-no-margin">
        <div class="logo-container">
          <img class="logo-img" #logoImg src="../../assets/logos/FKlogo-full.png" >
        </div>
        <!-- <div class="social-container">
          <ion-fab horizontal="start" vertical="top" slot="fixed">
            <ion-fab-button size="small" color="secondary">
              <ion-icon name="share-social-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="start">
              <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
              <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </div> -->
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-slides [options]="slideOpts" pager="false">
          <ion-slide>
            <!-- <div class="slide-text">
              <span class="trueno-outline-h1">FOUNDATION KANGALS</span><br>
              <span class="trueno-h1">By Foundation Farms Atlanta</span>
            </div> -->
            <img #mySlideImg1 src="../../assets/homeSlider/cujo-pro2.jpg" >
          </ion-slide>
          <ion-slide>
            <!-- <div class="slide-text">
              <span class="trueno-outline-h1">FOUNDATION KANGALS</span><br>
              <span class="trueno-h1">By Foundation Farms Atlanta</span>
            </div> -->
            <img #mySlideImg2 src="../../assets/homeSlider/cujo-pro3.jpg" >
          </ion-slide>
          <ion-slide>
            <!-- <div class="slide-text">
              <span class="trueno-outline-h1">FOUNDATION KANGALS</span><br>
              <span class="trueno-h1">By Foundation Farms Atlanta</span>
            </div> -->
            <img #mySlideImg3 src="../../assets/homeSlider/collars-pro1.jpg" >
          </ion-slide>
          <ion-slide>
            <!-- <div class="slide-text">
              <span class="trueno-outline-h1">FOUNDATION KANGALS</span><br>
              <span class="trueno-h1">By Foundation Farms Atlanta</span>
            </div> -->
            <img #mySlideImg4 src="../../assets/stageBackground.jpg" >
          </ion-slide>
          <ion-slide>
            <!-- <div class="slide-text">
              <span class="trueno-outline-h1">FOUNDATION KANGALS</span><br>
              <span class="trueno-h1">By Foundation Farms Atlanta</span>
            </div> -->
            <img #mySlideImg5 src="../../assets/homeSlider/cujo-pro4.jpg" >
          </ion-slide>
          <ion-slide>
            <!-- <div class="slide-text">
              <span class="trueno-outline-h1">FOUNDATION KANGALS</span><br>
              <span class="trueno-h1">By Foundation Farms Atlanta</span>
            </div> -->
            <img #mySlideImg6 src="../../assets/entranceBackground.jpg" >
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <!-- BEGINNING OF BEGINNING OF FK -->
    <ion-row class="ion-margin ion-no-padding">
      <ion-col size="12" class="ion-text-center ion-align-self-center">
        <h1 class="white-background">Beginning of Foundation Kangals</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-row class="ion-padding ion-margin gray-background">
          <ion-col size-xs="12" size-sm="12" size-md="6" class="ion-align-self-center">
            <ion-row>
              <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="8" offset-lg="2">
                <img style="display: block; margin: auto; width: 100%;"
                src="../../assets/cujo/cujo-marisa.jpg">
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="6" class="ion-align-self-center ion-padding">
            <ion-row>
              <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="8" offset-lg="2">
                <p>
                  It started April 2020, when I decided to foster Cujo. Owning horses and livestock most of my life, 
                  I was never much of a dog person. I liked them, but they seemed like more responsibility 
                  than owning 5 horses, crazy as that sounds!
                </p>
                <p>
                  Long story short, Cujo gave me NO CHOICE. He laid in front of my truck until I 
                  put him in the back covered in fleas. Standing 6 feet tall and even under weight, Cujo still weighed around 180 lbs. 
                  Well, this over size wolf now had QUICKLY stole my entire heart, my land, and my home.
                </p>
              </ion-col>
              <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="8" offset-lg="2">
                <p>
                  They say Kangal is hard to train and I can see why. Some days are full with guests 
                  here on The Farm - kids camps, some rehab for special needs, and of course having family and friends around.
                  Having friends and family over, from elderly to children, the Kangal ALWAYS know who 
                  is friend or foe. They only bark or act aggressive to people that are here with no invitation 
                  or appointment. I'm not sure how they read my schedule...BUT THEY KNOW. Kangal are the most 
                  lovable family dogs, until its time to protect.</p>
                <p>
                  For more information refer to 
                  <a href="https://en.m.wikipedia.org/wiki/Kangal_Shepherd_Dog" target="_blank">
                    this article under SIVAS KANGAL in Wikipedia.</a>
                </p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- END OF BEGINNING OF FK -->
    <!-- NAVIGATION TO OTHER PAGES -->
    <ion-row class="ion-padding">
      <ion-col size="12" class="ion-text-center">
        <h3 style="color: white;">Click or Press the Paws for More Info &nbsp;
          <ion-icon color="secondary" slot="end" name="paw"></ion-icon>
        </h3>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
        <ion-card class="menu-card" tappable (click)="goToAboutKangals()">
          <ion-header class="menu-header">
            <ion-card-title class="menu-card-title">About Kangals</ion-card-title>
              <img src="../../assets/logos/paw-print-small.png">
          </ion-header>
          <img (mouseover)="aboutKangalsHover()" #aboutKangals class="about-kangals" src="../../assets/cujo/cujo-sunset.jpg" >
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
        <ion-card class="menu-card" tappable (click)="goToPurchaseKangals()">
          <ion-header class="menu-header">
            <ion-card-title class="menu-card-title">Purchase Kangals</ion-card-title>
              <img src="../../assets/logos/paw-print-small.png">
          </ion-header>
          <img (mouseover)="purchaseKangalsHover()" #purchaseKangals class="purchase-kangals" src="../../assets/purchase-page-LitterA-atFence.jpg" >
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- END OF NAVIGATION TO OTHER PAGES -->
    <!-- GALLERY -->
    <ion-row>
      <ion-col size="12" class="ion-text-center ion-align-self-center">
        <h1 class="white-background">Life on the Farm</h1>
      </ion-col>
      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" size-xl="4">
        <img src="https://firebasestorage.googleapis.com/v0/b/foundation-kangals.appspot.com/o/homepage%2FFK01-2021-10-12.jpg?alt=media&token=28d8ea52-780f-48da-9245-42f7d6cc99d5">
      </ion-col>
      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" size-xl="4">
        <img src="https://firebasestorage.googleapis.com/v0/b/foundation-kangals.appspot.com/o/homepage%2FFK02-2021-10-12.jpg?alt=media&token=73f9507e-306d-408d-800a-e639bbbe6877">
      </ion-col>
      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" size-xl="4">
        <img src="https://firebasestorage.googleapis.com/v0/b/foundation-kangals.appspot.com/o/homepage%2FFK03-2021-10-12.jpg?alt=media&token=79637a68-357c-4747-bf52-2be33ca92428">
      </ion-col>
      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" size-xl="4">
        <img src="https://firebasestorage.googleapis.com/v0/b/foundation-kangals.appspot.com/o/homepage%2FFK04-2021-10-12.jpg?alt=media&token=dbd7d9be-c4e8-4ddf-b0d9-1cbd8603caa1">
      </ion-col>
      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" size-xl="4">
        <img src="https://firebasestorage.googleapis.com/v0/b/foundation-kangals.appspot.com/o/homepage%2FFK05-2021-10-12.jpg?alt=media&token=86bf3976-8299-42de-9125-b7929e4ad965">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
        <img src="https://firebasestorage.googleapis.com/v0/b/foundation-kangals.appspot.com/o/homepage%2FFK06-2021-10-12.jpg?alt=media&token=5d1d8561-ff94-4fa5-9006-a83a30db7adb">
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
        <img src="https://firebasestorage.googleapis.com/v0/b/foundation-kangals.appspot.com/o/homepage%2FFK07-2021-10-12.jpg?alt=media&token=0958fd50-8a95-4167-bc98-55660526a1b6">
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
        <img src="https://firebasestorage.googleapis.com/v0/b/foundation-kangals.appspot.com/o/homepage%2FFK08-2021-10-12.jpg?alt=media&token=59adae9e-1158-4c28-aae2-a098e6cf2d39">
      </ion-col>
    </ion-row>
    <!-- END OF GALLERY -->
    <!-- PUPPY UPDATE-->
    <ion-row>
      <ion-col size="12" class="ion-text-center ion-align-self-center">
        <h1 class="white-background">Puppy Update - Fall 2021</h1>
      </ion-col>
      <ion-col size="6">
        <h3 style="color:white;" class="ion-text-center">Alexis</h3>
        <img src="https://firebasestorage.googleapis.com/v0/b/foundation-kangals.appspot.com/o/homepage%2FFK09-Alexis-2021-10-12.jpg?alt=media&token=f82d11ee-9e96-4970-9a50-b5d48b608d2d">
      </ion-col>
      <ion-col size="6">
        <h3 style="color:white;" class="ion-text-center">Atilla</h3>
        <img src="https://firebasestorage.googleapis.com/v0/b/foundation-kangals.appspot.com/o/homepage%2FFK10-Atilla-2021-10-12.jpg?alt=media&token=f3f41fde-e9bd-4596-b814-e957e9319689">
      </ion-col>
    </ion-row>
    <!-- PUPPY UPDATE-->
    <ion-row class="ion-padding ion-margin ion-text-center">
      <ion-col (click)="goToPhotos()" size-lg="4" offset-lg="4" class="ion-text-center gray-trnsp-button">
        <p>More Pictures &nbsp;</p>
        <div style="display: inline-flex;">
          <img src="../../assets/logos/paw-print-small.png">
        </div>
      </ion-col>
    </ion-row>
    <!-- CODE OF ETHICS-->
    <ion-row>
      <ion-col size="12" class="ion-text-center ion-align-self-center ion-padding">
        <h1 class="white-background">Breeder Code of Ethics</h1>
        <p>If I breed a Kangal Dog, I will further adhere to these principles:</p>
        <ion-row>
          <ion-col size-md="8" offset-md="2">
            <ol>
              <li lines="none" class="ion-padding-bottom">
                I will make sure that anyone acquiring a dog from me understands their responsibilities 
                for the care and welfare of the animal.
              </li>
              <li lines="none" class="ion-padding-bottom">
                I will not breed a Kangal Dog with a breed disqualification.
              </li>
              <li lines="none" class="ion-padding-bottom">
                I will not breed any Kangal Dog that is of poor temperament, especially one that is 
                known to have bitten a person without provocation, or an adult dog that has shown a 
                strong tendency to chase, bite, and injure flock animals, traits which are contrary 
                to a fundamental characteristic of the breed: a reliable guardian temperament.
              </li>
              <li lines="none" class="ion-padding-bottom">
                I will never breed a Kangal Dog with a dog of any other breed, and I will only breed 
                my Kangal Dog to another Kangal Dog of good quality and type, that is either 
                registered/registerable with the UKC, or possesses valid Turkish registration papers.
              </li>
              <li lines="none" class="ion-padding-bottom">
                I will certify the hip status of any breeding dog that I own, and I will do my best to 
                obtain hip certification for any dog that I breed to, so that I can make an informed 
                breeding choice for the welfare of my puppies and their owners.
              </li>
              <li lines="none" class="ion-padding-bottom">
                I will undertake each breeding with careful consideration of the positive and negative 
                characteristics of sire and dam, with the foremost goals of preserving working Kangal 
                type and temperament, and reducing genetic defects such as hip dysplasia in the breed.
              </li>
              <li lines="none" class="ion-padding-bottom">
                I will ensure that the pedigree information of all dogs owned or co-owned has been 
                submitted for inclusion in the KDCA's Health and Pedigree database, including pedigree 
                information on all current and upcoming puppies that have been produced.
              </li>
              <li lines="none" class="ion-padding-bottom">
                I will cooperate with the KDCA Health Committee by providing hip certification (OFA or 
                PennHIP) reports, as well as information about other health problems which may have a 
                genetic basis that appear in any dogs used in my breeding program, their progeny, and 
                relatives, to the best of my ability.
              </li>
              <li lines="none" class="ion-padding-bottom">
                I will ensure that any dogs that I own and that will produce a litter after March 1st, 
                2011 will be DNA-certified using the UKC's DNA service. Proof of DNA certification must 
                be sent to the KDCA club secretary within 6 months of producing a litter when breeding 
                dogs that have not previously been DNA certified.
              </li>
              <li lines="none" class="ion-padding-bottom">
                I will register all Kangal Dog litters born in the US with the UKC. I will also require 
                owners to permanently register every Kangal Dog, in the owner's name or in co-ownership, 
                whether the dog is intact or desexed, so that the KDCA and the UKC can keep accurate 
                records of Kangal Dogs and their ownership.
              </li>
              <li lines="none" class="ion-padding-bottom">
                I will supply my puppy buyers with written contracts that clearly specify ownership, 
                spay/neuter requirements, and breeding agreements, and will specify that dogs not sold 
                specifically as potential breeding animals must not be bred.
              </li>
              <li lines="none" class="ion-padding-bottom">
                I will endeavor to help the new owners of my pups with any behavioral or training issues 
                that may arise and to assist in rehoming dogs that I have bred, so as not to create a 
                burden for Kangal Dog Rescue volunteers.
              </li>
            </ol>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- END OF CODE OF ETHICS -->
    <app-footer></app-footer>
  </ion-grid>
</ion-content>
